<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-03-08T09:32:41Z</date>
	<key>WorkspacePath</key>
	<string>/Users/xunli/Desktop/曹记/导航栏全透明下拉放大图片上拉显示标题/导航栏全透明下拉放大图片上拉显示标题.xcodeproj</string>
</dict>
</plist>
